* {
  margin: 0;
  padding: 0;
}

body {
  .logo {
    height: 80px;
    width: 80px;
    background: url(./logo.png) no-repeat;
    background-size: 100% auto;
    margin: 30px auto;
  }

  h1 {
    font-size: 32px;
    line-height: 2;
    text-align: center;
  }
}